body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #1f2440, #99a8f2);
    color: #fff;
}

* {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 69%;
    margin: 40px auto;
    background: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1.5px solid #d3dbf4 ;
    padding-bottom: 20px;
}

.header-content {
    flex-grow: 1;
    text-align: center; 
}

.info{
    padding-top: 30px !important;
}

.header-img {
    width: 120px; 
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #d3dbf4;
}


header h1 {
    font-size: 32px ;
    font-weight: bold !important;
    padding-bottom:3%;
    
}

header p {
    font-size: 16px ;
    color: #ddd;
}

.objective{
    text-align: center;
    font-size: 18px ;
    padding-top: 5%;

}

a {
    color: #99aff2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section {
    margin-top: 30px;
}

h3 {
    border-bottom: 1.5px solid #d3dbf4;
    padding-bottom: 8px;
    font-size: 20px ;
    color: #99b5f2;
    font-weight: bold !important;

}

ul {
    list-style-type:circle;
    padding: 5;
}

ul li {
    padding: 7px 0;
    font-size: 17px ;
}

/* Style the contact section */
#contact {
    text-align: center;
    margin-top: 50px;
}

#contact .btn {
    font-size: 16px;
    padding: 10px 20px;
    background-color: #99a8f2;
    border: none;
    transition: background-color 0.3s;
}

#contact .btn:hover {
    background-color: #1f2440;
}

/* Customize the modal appearance */
.modal-content {
    border-radius: 10px;
    background-color: #f8f9fa;
    padding: 20px;
}

.modal-title {
    font-size: 20px;
    color: #1f2440;
}

.modal-body p {
    font-size: 1.1rem;
    color: #1f2440;
}

.modal-body a {
    color: #6a4ed0;
    text-decoration: none;
}

.modal-body a:hover {
    text-decoration: underline;
}

/* Style the modal footer button */
.modal-footer .btn-secondary {
    background-color: #392483;
}

.modal-footer .btn-secondary:hover {
    background-color: #9f0c0c;
}

/* Custom rounded button */
.btn-rounded {
    border-radius: 50px;
    padding: 10px 15px;
    background-color: #242d36;
    color: rgb(255, 255, 255);
}

.btn-rounded:hover {
    background-color: #55585b;
}

/* (576px, 768px, and 992px).*/
@media (max-width: 992px) {
    .container {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .container {
        width: 95%;
        padding: 20px;
    }
    header {
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        margin: 20px auto;
    }
    .header-img {
        width: 100px;
        height: 100px;
    }
}
